body{
    font-family: "Cal Sans", sans-serif;
    background-color: rgba(255, 127, 223, 0.433);
    color: rgb(20, 2, 110);
    mix-blend-mode: multiply;
}
section#first{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem;

}
section#first img{
    height: auto;
    mix-blend-mode: multiply;
}

section#items{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1rem;

}
section#items img{
    height: auto;
    mix-blend-mode: multiply;

}


