body{
    font-family: 'Geist', sans-serif;
    color:#3D3784;
    mix-blend-mode: multiply;
    margin: 0px;
}

#banner{
    width: 100%;
    height: 15%;
    background-color:#3D3784;
    color: #FFFED7;
    margin-top: -5%;
    padding-top: 10%;
    padding-left: 2%;
    padding-bottom: 1%;
    transition: background-color 1s ease-in;
}

#banner:hover{
    background-color: rgb(255, 0, 221);
}

.contentbox{
    background-color: #FFFED7;
    height: 350px;
    width: 250px;
    filter: drop-shadow(5px 5px 0px rgb(255, 0, 221));
    transition: background-color 1s ease-in;
   

    
}

.contentbox:hover{
    cursor:pointer;
    background-color: #c3ffe2;
}
main{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}



.contentbox h2{
    text-align: center;
}


ul li{
    list-style: none;

}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    color:#49bcff;
}
footer{
background-color:#3D3784;
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
color:#FFFED7;
stroke:#FFFED7;
width:100%;
bottom: 0;
}
footer a{
    color: #FFFED7;
    text-decoration: none;
}

footer a:hover{
    color: #49bcff;
}


.fishie{
    mix-blend-mode: color-dodge;
    position:absolute;
    /* right: -200px; */
    transform: translateY(-50%);
    animation: swimming 10s linear infinite forwards;
    padding-top: 2%;
}

/* @keyframes swimming{
    0% {
        right: -200px; 
        opacity: 0;
      }
    1%{
        opacity: 1;
    }
      50% {
        right: 100vw; 
        opacity: 1;
      }
      51%{
        right: -200px;
        opacity: 0;
      }
      52%{
        opacity: 0;
      }
      100% {
        right: -200px; 
        opacity: 0;
      }

} */
@keyframes swimming{
    0% {
        right: -200px; 
      }
    
    100% {
        right: 110%; 
      }

}

@media (max-width: 600px) {

    #banner{
        padding: 20% 5% 5%;
        text-align: center;
    }

    main{
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }

    .contentbox{
        width: 85vw;         
        height: auto;         
        padding: 20px 10px;
    }

    .contentbox h2{
        font-size: 1.4rem;
    }

    ul li{
        font-size: 1.1rem;
        text-align: center;
    }

    footer{
        font-size: 0.9rem;
        padding: 6% 3%;
    }

    .fishie{
        width: 120px;
        top: 20%;
        animation-duration: 14s;
    }
}


@media (min-width: 600px) and (max-width: 900px) {

    main{
        justify-content: center;
        gap: 40px;
    }

    .contentbox{
        width: 300px;
        height: auto;
    }

    .fishie{
        width: 150px;
    }
}