body{
    font-family: "Cal Sans", sans-serif;
    color: rgb(12, 16, 0);
}
header#first{
    display: flex;
    flex-direction: column; 
    gap: 1rem;

}
#purse{
    margin-top: -20%;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: fixed;
}



#items{
    display: flex;
    flex-direction: column; 
    gap: 1rem;

}
section#s1 img.items{
    height: auto;
    mix-blend-mode: multiply;
    width: 75%;

}


header{
    z-index: 100;
    position: fixed;
}

.bgcolor1 { background-color: #f8edcb; transition: all 1s;}
.bgcolor2 { background-color: #eaf8cb; transition: all 1s;}
.bgcolor3 { background-color: #cbeef8; transition: all 1s;}
.bgcolor4 { background-color: #dfcbf8; transition: all 1s;}
.bgcolor5 { background-color: #f8cbe4; transition: all 1s;}

